<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Braze</key>
	<dict>
		<key>Endpoint</key>
		<string></string>
	</dict>
	<key>BuildMachineOSBuild</key>
	<string>22D68</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>realestate.co.nz Dev</string>
	<key>CFBundleExecutable</key>
	<string>reconz-app</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIconDev60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIconDev</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIconDev60x60</string>
				<string>AppIconDev76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIconDev</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>nz.co.realestate.realestate.dev</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>reconz-app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.25.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneSimulator</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.664582697915-jqspk5p17hd6odmdrvrvh6r3sn7a6ifv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>nz.co.realestate.realestate</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nz.co.realestate.realestate</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>realestateconz</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>realestateconz</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1652</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>20C52</string>
	<key>DTPlatformName</key>
	<string>iphonesimulator</string>
	<key>DTPlatformVersion</key>
	<string>16.2</string>
	<key>DTSDKBuild</key>
	<string>20C52</string>
	<key>DTSDKName</key>
	<string>iphonesimulator16.2</string>
	<key>DTXcode</key>
	<string>1420</string>
	<key>DTXcodeBuild</key>
	<string>14C18</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<false/>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-7322922016481610~2247692842</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-apps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>12.4</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>With your permission, we can add appointments for important dates to your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>With your permission, we can take photographs.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app shows your location on a map along with nearby properties</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app shows your location on a map along with nearby properties</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app shows your location on a map along with nearby properties</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>With your permission, we can save a photo your your photo library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>With your permission, we can access your photo library</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Your data will be used to deliver personalised ads to you.</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
		<string>EuclidCircularB-Bold.otf</string>
		<string>EuclidCircularB-Light.otf</string>
		<string>EuclidCircularB-Medium.otf</string>
		<string>EuclidCircularB-Regular.otf</string>
		<string>EuclidCircularB-Semibold.otf</string>
		<string>realestateconzicons.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>firebase_json_raw</key>
	<string>eyJnb29nbGVfYW5hbHl0aWNzX2F1dG9tYXRpY19zY3JlZW5fcmVwb3J0aW5nX2VuYWJsZWQiOiBmYWxzZX0=</string>
</dict>
</plist>
